<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/students/add" method="post">
            name:<br />
            <input type="text" name="naam" /><br />
            geboortedatum:<br />
            <input type="text" name="brand" /><br />
            studierichting:<br />
            <input type="text" name="description" /><br />
      
            <input type="submit" value="OK" />
          </form>
          <a href='/students'>students</a>
</body>
</html>